version: 2
jobs:
  build:
    docker:
      - image: 'circleci/node:latest'
    steps:
      - checkout

      - run: npm ci

      - run:
          name: release
          command: npm run semantic-release || true
